/*
---
filename: UI.Browser.css
decription: Provides base layout for FlightDeck
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

/* alternative layout for the browse-like sections */
body {
	background-image: none;
}

#app-sidebar {
	border-right: none;
	padding: 0 15px;
	width: 200px;
	margin-left: -245px;
}

#app-body {
	margin-top: 20px;
	margin-left: 245px;
}

#app-content {
	margin-right: 15px;
}

/*
=========================================================================== */
.UI_Browser {
	margin: 15px 0 0;
}

	.UI_Browser .UI_Item {
		min-height: 115px;
		padding: 0 150px 0 110px;
		margin: 0 0 10px 0;
		border-bottom: solid 1px #E9EDF0;
		position: relative;
	}
	
		.UI_Browser .UI_Item:last-child {
			border-bottom: none;
		}

		.UI_Browser .UI_Icon {
			position: absolute;
			top: 0;
			left: 0;
			width: 96px;
			height: 106px;
			background-image: url(../img/UI_Browser/browse-icons.png);
			background-repeat: no-repeat;
		}

			.UI_Browser .UI_Icon.jetpack {
				background-position: 0 0;
			}

			.UI_Browser .UI_Icon.capability {
				background-position: -96px 0;
			}
   
		.UI_Browser .UI_Item h3 {
			font-weight: bold;
			font-size: 1.1em;
			display: block;
		}
		
			.UI_Browser .UI_Item h3 span {
				font-weight: normal;
				font-size: .8em;
				color: #999;
			}
			
				.UI_Browser .UI_Item h3 span a {
					font-weight: normal;
					color: #478CDE;
					
				}
				
		.UI_Browser .UI_Item h4 {
			font-size: .7em;
			font-style: bold;
			background: #A6AEB5;
			color: #F8F8F8;
			-moz-border-radius: 3px;
			padding: 1px 3px;
			margin: 5px 0 0;
			display: inline-block;
		}

		.UI_Browser .UI_Item p {
			margin: 10px 0 0;
			font-size: .9em;
			color: #7F7F7F;
		}

/*
=========================================================================== */
.UI_Pagination {
	margin: 0 0 40px;
}

	.UI_Pagination li {
		font-weight: bold;
		display: inline-block;
		color: #ccc;
		font-size: .9em;
		margin: 0 2px;
	}

		.UI_Pagination li a {
			display: inline-block;
			color: #478CDE;
			padding-bottom: 1px;
			border-bottom: solid 1px #E9EDF0;
		}

		.UI_Pagination li a:hover,
		.UI_Pagination li.selected a {
			text-decoration: none;
			color: #3E464D;
			border-bottom: solid 1px #478CDE;
		}

		.UI_Pagination li.UI_Pagin_Action span {
			display: inline-block;
			height: 12px;
			width: 11px;
			background-image: url(../img/toggle-arrows.png);
			position: relative;
			top: 2px;
		}

		.UI_Pagination li.UI_Pagin_Action.prev span {
			background-position: 0 -58px;
		}

		.UI_Pagination li.UI_Pagin_Action.next span {
			background-position: 0 -46px;
		}

		.UI_Pagination li.UI_Pagin_Action.more span {
			background-position: 0 -46px;
		}

/*
=========================================================================== */
.UI_ProfileInfo {
	position: relative;
	top: -15px;
	margin: 0 0 10px;
}

	.UI_ProfileInfo ul.piWrapper {
		background: #F6F8F9;
		margin: 0 0 5px;
	}

		.UI_ProfileInfo ul.piWrapper li {
			border-top: solid 1px #fff;
			border-bottom: solid 1px #E9EDF0;
			font-size: .9em;
			padding: 6px 0 6px 6px;
		}
	
			.UI_ProfileInfo ul.piWrapper li a {
				color: #478CDE;
			}
			
			.UI_ProfileInfo ul.piWrapper li span {
				display: inline-block;
				width: 12px;
				height: 11px;
				margin-right: 5px;
				background-image: url(../img/UI_Browser/user-icons.png);
			}
			
			.UI_ProfileInfo ul.piWrapper li.mail span {
				background-position: 0 -11px;
			}
			
			.UI_ProfileInfo ul.piWrapper li.url span {
				background-position: 0 -24px;
			}
			
			.UI_ProfileInfo ul.piWrapper li.amo span {
				background-position: 0 -24px;
			}
			

	.UI_ProfileInfo .seeProfile {
	}
	
		.UI_ProfileInfo .seeProfile li {
			display: block;
			font-size: .8em;
			padding: 5px 0 0;
			color: #999;
		}

		.UI_ProfileInfo .seeProfile a {
			color: #478CDE;
		}
