/*
---
filename: UI.Editor.css
decription: Includes stylesheets for FlightDeck.Editor 
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

@import url('UI.Editor_Menu.css');
@import url('UI.Editor_Area.css');
