@import url('UI.Editor_Menu.css');
@import url('UI.Editor_Area.css');

.UI_middleWrapper,
.centerSection p {
	max-width: 100%;
	position: relative;
}


/* by Daniel */
html, body, #wrapper, #app-content, #editor-wrapper, div.CodeMirror-wrapping {  height: 100%; }
#app-body { bottom:51px; left:0; margin-left:230px; position:absolute; right:0; top:90px; }
/*#editor-wrapper  { -moz-box-shadow: 2px 2px  4px 0 #DDDDDD inset; }*/

.ma-container strong { 
	font-weight: bold;
}
.ma-container .author {
	display: block;
	font-size: 0.9em;
}

.ma-container .description {
	display: block;
	font-size: 0.9em;
	font-style: italic;
}
