.UI_File_Listing {
	/*min-height: 75px;*/
}

   .UI_File_Listing li {
      margin: 1px 0 0;
      position: relative;
   }
      
      .UI_File_Listing li a {
         display: block;
         color: #666;
         padding: 4px 0 4px 23px;
         font-size: .8em;
      }
      
      /* Alterations for the Recent Files section */
      .UI_File_Listing.UI_Recent_Files li a {
         padding-left: 10px;
      }
      
      .UI_File_Listing li:hover {
         background: #EFEFEF;
      }
      
         .UI_File_Listing li:hover a,
         .UI_File_Listing li a:active {
            text-decoration: none;
         }
         
         .UI_File_Listing li a span.File_close {
            display: none;
            height: 12px;
            width: 12px;
            position: absolute;
            top: 50%;
            margin-top: -6px;
            right: 10px;
            opacity: 0.7;
            background: url(../img/UI_File_Listing/ico-close.png) 0 0 no-repeat;
         }
         
            .UI_File_Listing li a:hover span.File_close {
               display: block;
            }
            
            .UI_File_Listing li a span.File_close:hover {
               opacity: 1.0;
            }
            
         
         /* Modification indicator */
         .UI_File_Listing li a span.File_status {
            display: block;
            height: 7px;
            width: 7px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
            left: 10px;
            -moz-border-radius: 7px;
         }
         
         /* Version indicator (Recent files only) */
         .UI_File_Listing li a em {
            font-size: .8em;
            font-style: normal;
            background: #4E5861;
            color: #E4E4E4;
            -moz-border-radius: 3px;
            padding: 1px 3px;
            margin-left: 2px;
         }

      /* Modified file */
      .UI_File_Listing li.UI_File_Modified a {
         
      }
         
         /* Modification indicator of a modified file */
         .UI_File_Listing li.UI_File_Modified a span.File_status {
            background: -moz-linear-gradient(270deg, #5AA2F3, #3E81D2);
         }
      
      /* Selected file */
      .UI_File_Listing li.UI_File_Selected a {
         background: -moz-linear-gradient(270deg, #5AA2F3, #3E81D2);
         color: #fff;
         text-shadow: 0 1px 0 #011E4F;
      }
      
         /* Modification indicator of a modified & selected file */
         .UI_File_Listing li.UI_File_Selected.UI_File_Modified a span.File_status {
            background: #fff;
            -moz-box-shadow: 0 1px 0 #011E4F;
         }
   
      /* Normal file */
      .UI_File_Listing li.UI_File_Normal a {
         
      }