/*
---
filename: UI.Layout.css
decription: Provides base layout for FlightDeck
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

body {
   background: #fff url(../img/sidebar-bg.png) 0 0 repeat-y;
   font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Myriad', Tahoma, Verdana, Arial, sans-serif;
   font-size: .8em;
   color: #4D5860;
}

a,
a:link {
   text-decoration: none;
   color: #4D5860;
   outline: none;
}

a:hover {
   text-decoration: underline;
}

/*
 =========================================================================== */
#wrapper {
   min-width: 1020px;
}

/*
 =========================================================================== */
#app-header {
   background: -moz-linear-gradient(270deg, #424A52, #4E5861);
   height: 90px;
}

   #app-header nav {
      float: right;
      margin: 15px 15px 0 0;
      padding: 1px;
      border-bottom: solid 1px #7A7E86;
      -moz-border-radius: 6px;
      background: -moz-linear-gradient(270deg, #2C3137, #3E454D);
   }
   
   #app-header nav li {
      float: left;
   }
   
      #app-header nav li a {
         display: block;
         padding: 8px 10px 7px;
         font-size: .9em;
         text-shadow: 0 1px 0 #000;
         color: #D4D9DF;
      }
   
      #app-header nav li a:hover {
         color: #fff;
      }
      
      #app-header nav li.active a {
         background: -moz-linear-gradient(270deg, #59A1F2, #1C5AAB);
         border-top: solid 1px #9CC7F8;
         color: #fff;
         text-shadow: 0 1px 0 #011E4F;
         padding-top: 7px;
      }

         #app-header nav li:first-child a {
            -moz-border-radius: 5px;
            -moz-border-radius-topright: 0;
            -moz-border-radius-bottomright: 0;
         }

         #app-header nav li:last-child a {
            -moz-border-radius: 5px;
            -moz-border-radius-topleft: 0;
            -moz-border-radius-bottomleft: 0;
         }
   

#flightdeck-logo {
   display: none;
}

#mozillalabs-logo {
   position: absolute;
   top: 20px;
   left: 10px;
}

   #mozillalabs-logo a {
      display: block;
      width: 161px;
      height: 34px;
      text-indent: -900em;
      background: url(../img/mozilla-labs-logo.png) 0 0 repeat-x;
   }
   
/*
 =========================================================================== */
#app-body {
   margin-left: 230px;   
}

/*
 =========================================================================== */
#app-content {
   float: right;
   width: 100%;   
}

/*
 =========================================================================== */
#editor-menu-wrapper {
   background: #E5E9EE;
   border-top: solid 1px #EFF2F5;
   border-bottom: solid 1px #AFB6BD;
   padding: 7px;
}

/*
 =========================================================================== */
#editor-wrapper {
   background: -moz-linear-gradient(270deg, #F2F2F2, #fff 8px);
   position: relative;
}

/*
 =========================================================================== */
#app-sidebar {
   float: left;
   width: 230px;
   margin-left: -231px;
   border-right: solid 1px #AFB6BD;
   background: #fff;
}

#jetpack-info {
   
}

   #jetpack-info #ji-toggler {
      background: -moz-linear-gradient(270deg, #3A86DA, #022052);
      padding-right: 1px;
      position: relative;
      right: -1px;
   }
   
   #jetpack-info #ji-toggler a {
      display: block;
      background: -moz-linear-gradient(270deg, #59A1F2, #1C5AAB);
      border-top: solid 1px #9CC7F8;
      border-bottom: solid 1px #022052;
      color: #fff;
      text-shadow: 0 1px 0 #011E4F;
      padding: 16px 0 16px 10px; 
   }
   
   #jetpack-info #ji-toggler a span {
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -5px;
      height: 11px;
      width: 11px;
      background-image: url(../img/toggle-arrows.png);
      background-repeat: no-repeat;
   }
   
   #jetpack-info #ji-toggler.opened a span {
      background-position: 0 0;
   }
   
   #jetpack-info #ji-toggler.closed a span {
      background-position: 0 -11px;
   }
   

/*
 =========================================================================== */
#app-footer {
   background: #3F4652;
   height: 30px;

   display: none;
}

.UI_Heading {
   border-bottom: solid 1px #E9EDF0;
   padding: 0 0 5px;
   margin: 0 0 15px;
   color: #666;
   font-size: 1.4em;
   font-family: Helvetica, Arial, Tahoma, sans-serif;
}

   .UI_Heading .seeProfile {
      display: block;
      font-size: .6em;
      padding: 5px 0 0;
      color: #999;
   }
   
      .UI_Heading .seeProfile a {
         color: #478CDE;
      }

.UI_Action_List {
   font-size: .9em;
}

   .UI_Action_List li {
      font-weight: bold;
      margin: 0 0 10px;
   }
   
   .UI_Action_List li:hover strong,
   .UI_Action_List li.selected strong {
      color: #3E464D;
   }
   
      .UI_Action_List li a {
         color: #478CDE;
         padding-bottom: 1px;
         border-bottom: solid 1px #E9EDF0;
      }
      
      .UI_Action_List li a:hover,
      .UI_Action_List li.selected a {
         
         text-decoration: none;
         color: #3E464D;
         border-bottom: solid 1px #478CDE;
      }
      
      .UI_Action_List li strong {
         color: #CCC;
         font-size: .9em;
         margin-left: 5px;
      }