/*
---
filename: UI.Modal.css
decription: Provides styles for the modal window
license: MIT-style license.
authors:
 - Oskar Krawczyk (http://nouincolor.com/)
...
*/

/* START TEMP*/
.UI_Modal {
}

.UI_Modal_Wrapper {
}
/* END TEMP*/

.UI_Modal_Wrapper {
	z-index: 100;
	background: rgba(0, 0, 0, 0.25);
	-moz-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 10px;
}

.UI_Modal {
	border-top: none;
	background: #fff;

	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	/*-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);*/
}

	.UI_Modal h3 {
		background: -moz-linear-gradient(270deg, #59A1F2, #1C5AAB);
		-moz-box-shadow: 0 -1px 0 #9CC7F8;
		border-bottom: solid 1px #022052;
		color: #fff;
		text-shadow: 0 1px 0 #011E4F;
		padding: 12px;
		font-size: 1.1em;
		text-align: center;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
	}

	.UI_Modal .UI_Modal_Section {
		padding: 14px;
		min-width: 350px;
	}
	
		.UI_Modal .UI_Modal_Section a {
			color: #478CDE;
		}

		.UI_Modal .UI_Modal_Section p,
		.UI_Modal .UI_Modal_Section .UI_Revisions li {
			padding-bottom: 10px;
			padding-top: 10px; 
			border-bottom: 1px solid #EBEBEB;
		}
		
			.UI_Modal .UI_Modal_Section .UI_Revisions li em.date {
				color: #B2B2B2;
				font-size: .9em;
				display: inline-block;
				width: 90px;
				font-style: normal;
			}

		.UI_Modal .UI_Modal_Section p:first-child {
			padding-top: 0px;
		}
		
		.UI_Modal .UI_Modal_Section .description {
			padding-top: 10px; 
		}

		.UI_Modal .UI_Modal_Actions {
			border-top: solid 1px #fff;
			padding: 7px 14px;
			background: #E5E9EE;

			-moz-border-radius-bottomleft: 5px;
			-moz-border-radius-bottomright: 5px;
			-moz-box-shadow: 0 -1px 0 #BEC5CC;
		}

		.UI_Modal .UI_Modal_Actions li {
			background: #BEC5CC;
			border-bottom: solid 1px #fff;
			padding: 1px;
			float: right;
			position: relative;
			margin-left: 7px;
			-moz-border-radius: 5px;
		}

		.UI_Modal .UI_Modal_Actions input {
			background: -moz-linear-gradient(270deg, #EBEFF2, #D4D9DF);
			border-top: solid 1px #fff;
			display: block;
			padding: 7px;
			text-shadow: 0 1px 0 #fff;
			color: #4D5860;

			-moz-border-radius: 4px;
		}

		.UI_Modal .UI_Modal_Actions input:hover {
			background: -moz-linear-gradient(270deg, #FBFBFB, #E6E8EB);
			text-decoration: none;
		}

		.UI_Modal .UI_Modal_Actions input:active {
			background: -moz-linear-gradient(270deg, #BEC5CC, #D9DDE0);
			border-top: solid 1px transparent;
			color: #6D7880;
		}


#display-package-info .UI_Modal_Section p strong {
	display: inline-block;
	width: 110px;
	font-weight: bold;
}

#display-package-info .UI_Modal_Section p a {
}

