body, form, fieldset, input, button, textarea, p, ul, ol, li, h1, h2, h3, h4, h5, h6, dd, dt, dl, strong {
   padding: 0;
   margin: 0;
   border: none;
   list-style: none;
   text-align: left;
   text-indent: 0;
   font-size: 1em;
   font-weight: normal;
   
}

header, aside, section, footer, nav, input, textarea {
   display: block;
}

input,
select,
textarea {
   font-family: 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Unicode', 'Myriad', Tahoma, Verdana, Arial, sans-serif;
}

/* Clearfix */
#app-body:after,
#editor-menu-wrapper:after,
.UI_Editor_Menu:after,
.UI_Forms .UI_Field:after,
.UI_Forms .UI_Choice:after, 
.UI_Modal .UI_Modal_Actions:after,
.UI_Browser .UI_Actions:after,
.UI_Field_Cont:after,
.UI_Browser:after,
.UI_Actions:after,
#libs-and-extensions:after,
#home-buttons:after,
.UI_middleWrapper:after,
.UI_Bottom_Info ul:after,
.UI_Field_Attachment_Cont:after {
   content: ' ';
   display: block;
   height: 0;
   overflow: hidden;
   width: 100%;
   clear: both;
}