<h1 id="flightdeck-logo"><a title="Mozilla Labs &minus; Jetpack FlightDeck" href="{% url home %}">Mozilla Labs &minus; Jetpack FlightDeck</a></h1>
<h2 id="mozillalabs-logo"><a title="Mozilla Labs" href="{% url home %}">Mozilla Labs</a></h2>

<nav>
	<ul>
		<li {% ifequal page "packages" %}class="active"{% endifequal %}><span><a title="Package Browser" href="{% url jp_browser_addons %}">Package Browser</a></span></li>
		<li class="{% ifequal page "apibrowser" %}active{% endifequal %} "><span><a title="API Browser" href="{% url api_home %}" >API Browser</a></span></li>
		{% if user.is_authenticated %}
			<li {% ifequal page "dashboard" %}class="active"{% endifequal %}>
				<span>
					<a title="My Account" href="/user/dashboard/">My Account</a>
					(<a class="logout" title="Logout" href="/user/logout/">logout</a>)
				</span>
			</li>
		{% endif %}
	</ul>
</nav>
