<h1 id="flightdeck-logo"><a title="FlightDeck" href="{% url home %}">FlightDeck</a></h1>
<h2 id="mozillalabs-logo"><a title="Mozilla Labs" href="{% url home %}">Mozilla Labs</a></h2>

<nav>
	<ul>
		{% ifequal page "editor" %}
			<li class="active"><a title="Editor" href="#">Editor</a></li>
		{% endifequal %}	
		<li><a {% ifequal page "packages" %}class='active' {% endifequal %}title="Package Browser" href="/">Package Browser</a></li>
		<li><a title="API Browser" href="#">API Browser</a></li>
		<li><a {% ifequal page "dashboard" %}class='active' {% endifequal %} title="My Account" href="/user/dashboard/">My Account</a></li>
	</ul>
</nav>
