<!DOCTYPE html>
{# Base HTML every page will use #}
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Mozilla Corporation" />

	<link rel="stylesheet" href="/media/jetpack/css/UI.Base.css" type="text/css" media="screen" />
	<script src="/media/js/lib/mootools-1.2.4-core-nc.js"></script>
	<script src="/media/js/lib/mootools-1.2.4.4-more.js"></script>
	<script src="/media/roar/Roar.js"></script>
	{% block head %}
	{% endblock %}
	{% block roar_css %}<link href="/media/roar/Roar.css" rel="stylesheet" type="text/css">{% endblock %}
	<script src="/media/js/FlightDeck.js"></script>
	<script src="/media/js/FlightDeck.Roar.js"></script>
	<script src="/media/js/FlightDeck.Modal.js"></script>
	<script type='text/javascript'>
		var fd;
		window.addEvent('domready', function() {
			fd = new FlightDeck();
			{% block app_domready %}{% endblock %}
			{% block page_domready %}{% endblock %}
		});
	</script>
</head>
<body id="{{ body_id }}">
	<div id="wrapper">
		
		<header id="app-header">
			<h1 id="flightdeck-logo"><a title="FlightDeck" href="{% url home %}">FlightDeck</a></h1>
			<h2 id="mozillalabs-logo"><a title="Mozilla Labs" href="{% url home %}">Mozilla Labs</a></h2>
			<!-- <nav></nav> -->
		</header> <!-- /main-header -->

		<div id="app-body">
			{% block app_body %}
			{% endblock %}
		</div> <!-- /app-body -->
		<footer id="app-footer"></footer> <!-- /page-info -->
		
	</div> <!-- /wrapper -->
		
</body><!-- /{{ body_id }} -->

</html>

