<!DOCTYPE html>
{# Base HTML every page will use #}
{% load base_helpers %}
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Mozilla Corporation" />
		<link rel="stylesheet" href="/media/jetpack/css/UI.Base.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/media/jetpack/css/UI.Editor_Menu.css" type="text/css" media="screen">
		<script src="/media/js/lib/mootools-1.2.4-core-nc.js"></script>
		<script src="/media/js/lib/mootools-1.2.4.4-more.js"></script>
		<script src="/media/js/lib/clientcide.2.2.0.js"></script>
		<script src="/media/roar/Roar.js"></script>
		<script src="/media/jetpack/js/Sidebar.js"></script>
		<script src="/media/js/FlightDeck.js"></script>
		<script src="/media/js/FlightDeck.Roar.js"></script>
		<script src="/media/js/Clientcide.ModalWindow.js"></script>
		<script src="/media/js/FlightDeck.Modal.js"></script>
		<script src="/media/js/FlightDeck.Utils.js"></script>
		<script src="/media/js/FlightDeck.Dropdown.js"></script>
		<script src="/media/js/FlightDeck.PickVersion.js"></script>
		<script src="/media/jetpack/js/Create.js"></script>
		{% block head %}{% endblock %}
		{% block roar_css %}
			<link href="/media/roar/Roar.css" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="/media/jetpack/css/FlightDeck.Roar.css" type="text/css" media="screen" />
		{% endblock %}
		
		<script type='text/javascript'>
			var fd;
			var settings = {
				{% block app_settings %}{% endblock %}{% block page_settings %}{% endblock %}
				person_login_url: '{{ settings.LOGIN_URL }}',
				jp_addon_create_url: '{% url jp_addon_create %}',
				jp_library_create_url: '{% url jp_library_create %}',
				create_modal_template: '{% escape_template "_create.html" %}',
				user: '{{ user }}', // was request.user - TODO: check
				DEBUG: {{ settings.DEBUG|yesno:"true,false" }}
			};
			window.addEvent('domready', function() {
				fd = new FlightDeck({'user': '{{ user.username }}'});
				{% block create_init %}
					create.init(
						['create_addon', 'create_library'],
						['addon','library'],
						'app-body'
					);
				{% endblock %}
				{% block app_domready %}{% endblock %}
				{% block page_domready %}{% endblock %}
			});
		</script>
		<style>.hidden { display: none; }</style>
	</head>
	<body id="{{ body_id }}">
		<div id="wrapper">
		
			<header id="app-header">
				{% block header %}{% include "_header.html" %}{% endblock %}
			</header> <!-- /main-header -->

			{% block app_menu %}
				<div id="editor-menu-wrapper">
					<ul class="UI_Editor_Menu minimal">
						<li class="UI_Editor_Menu_Button Icon_new">
							<a id="create_addon" title="" href="#">New extension<span class="UI_Editor_Icon"></span></a>
						</li>
						<li class="UI_Editor_Menu_Button Icon_new">
							<a id="create_library" title="" href="#">New library<span class="UI_Editor_Icon"></span></a>
						</li>
					</ul>
				</div>
			{% endblock %}

			<div id="app-body">
				{% block app_body %}
				{% endblock %}
				<aside id="app-sidebar" class="UI_Sidebar">
					{% block app_sidebar %}{%endblock %}
				</aside> <!-- /app-sidebar -->
				<section id="app-content">
					{% block app_content %}{% endblock %}
				</section> <!-- /app-content -->
			</div> <!-- /app-body -->
			
			<footer id="app-footer"></footer> <!-- /page-info -->
		
		</div> <!-- /wrapper -->
		
		{% if not settings.DEBUG %}
			<script type="text/javascript">
				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
				try {
					var pageTracker = _gat._getTracker("UA-366077-15");
					pageTracker._trackPageview();
				} 
				catch(err) {}
			</script>
		{% endif %}
	</body><!-- /{{ body_id }} -->
</html>
