{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/UI.Landing_Page.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Browser.js"></script>
{% endblock %}

{% block app_sidebar %}
{% endblock %}
	
{% block app_content %}
	
	<div id="feature-wrapper">
		<div class="UI_Feature">
			{% if featured %}{% with featured as item %}
				<h3>{{ item.full_name }} 
					<span>by 
						<a title="" href="{% url person_public_profile item.author.username %}">
								{{ item.author.get_profile }}
						</a>
					</span>
				</h3>
				<p>{{ item.description }}</p>
				<ul class="UI_Actions">
					<li class="UI_Try_in_Browser">
						<a title="Test" href="{{ item.version.get_create_xpi_url }}">Test</a>
					</li>
					{% include "_package_edit_view_source_bar.html" %}
				</ul>
				
				<div class="UI_Icon jetpack">
					<!-- <ul class="UI_Ratings_Display">
						<li><a title="" href="#"></a></li>
					</ul> -->
				</div>
			{% endwith %}{% endif %}
		</div> <!-- /UI_Feature -->
	</div> <!-- /feature-wrapper -->
	
	<div id="libs-and-extensions">
		<div class="UI_LE_Col">
			{% if addons %}
				<h2 class="UI_Heading">Recent Add-ons</h2>
				<ul class="UI_Browser">
					{% for item in addons %}
						<li class="UI_Item">{% include "_package_browser_addon.html" %}</li>
					{% endfor %}
				</ul>
				<p>
					<a class="UI_SeeMore" title="See more" href="{% url jp_browser_addons %}">Browse</a>
				</p>
			{% endif %}
		</div>
		<div class="UI_LE_Col">
			{% if libraries %}
				<h2 class="UI_Heading">Recent Libraries 
				</h2>
				<ul class="UI_Browser">
					{% for item in libraries %}
						<li class="UI_Item">{% include "_package_browser_library.html" %}</li>
					{% endfor %}
				</ul>
				<p>
					<a class="UI_SeeMore" title="See more" href="{% url jp_browser_libraries %}">Browse</a>
				</p>
			{% endif %}
			
		</div>
	</div>
{% endblock %}
