{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Browser.js"></script>
{% endblock %}

{% block app_sidebar %}
{% endblock %}
	
{% block app_content %}
	
	{% if jetpacks %}
		<h2 class="UI_Heading">Recent Extensions <a class="UI_SeeMore" title="See more" href="{% url jetpacks %}">See more</a></h2>
		<ul class="UI_Browser">
		{% for item in jetpacks %}
			<li class="UI_Item">{{ item|render_base_link }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if capabilities %}
		<h2 class="UI_Heading">Recent Libraries <a class="UI_SeeMore" title="See more" href="{% url capabilities %}">See more</a></h2>
		<ul class="UI_Browser">
		{% for item in capabilities %}
			<li class="UI_Item">{{ item|render_base_link }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
{% endblock %}