<ul class="piWrapper">
	{% if profile.get_fullname %}
		<li class="name"><span></span> {{ profile.get_fullname }}</li>
	{% endif %}
	<li class="mail">
		<span></span> <a title="" href="mailto:{{ user.email }}">{{ user.email }}</a>
	</li>
	{% if profile.homepage %}
		<li class="url">
			<span></span> 
			<a title="" href="{{ profile.homepage }}">{{ profile.homepage }}</a>
		</li>
	{% endif %}
	<li class="amo"><span></span> <a class="window" title="AMO profile" href="https://addons.mozilla.org/en-US/firefox/user/{{ user.username }}">AMO profile</a></li>
</ul>


<ul class="seeProfile">
	<li>
		See your 
		<a title="" href="{% url person_public_profile user.username %}">public profile</a>
	</li>
</ul>		
