{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
{% endblock %}

{% block app_sidebar %}
	<h2 class="UI_Heading">
		{{ profile.get_name }}
	</h2>
	
	<div class="UI_ProfileInfo">
		{% include '_dashboard_info.html' %}
	</div>

	<ul class="UI_Action_List">
		{% if addons %}
			<li>
				<a title="Your Add-ons" href="{% url jp_browser_user_addons user.username %}">Your Add-ons</a> 
				<strong>({{ addons|length }})</strong>
			</li>
		{% endif %}
		{% if libraries %}
			<li>
				<a title="Your Libraries" href="{% url jp_browser_user_libraries user.username %}">Your Libraries</a> 
				<strong>({{ libraries|length }})</strong>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block app_content %}
	{% if addons %}
		<h2 class="UI_Heading">Your Latest Add-ons</h2>
		<ul class="UI_Browser">
			{% for item in addons %}
				<li class="UI_Item">
					{% include "_package_browser_addon.html" %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if libraries %}
		<h2 class="UI_Heading">Your Latest Libraries</h2>
		<ul class="UI_Browser">
			{% for item in libraries %}
				<li class="UI_Item">
					{% include "_package_browser_library.html" %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
