{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
{% endblock %}

{% block app_sidebar %}
	<h2 class="UI_Heading">{{ user }}</h2>

	<!-- <p>
		Go to your <a href="{% url person_public_profile_forced user.username %}">public profile</a>
	</p> -->

	<ul class="UI_Action_List">
		{% if user.authored_jetpacks.all %}
			<li><a title="Your Jetpacks" href="#your-jetpacks">Your Jetpacks</a> 
				<strong>({{ user.authored_jetpacks.all|length }})</strong>
			</li>
		{% endif %}
		{% if user.authored_capabilities.all %}
			<li><a title="Your Modules" href="#your-modules">Your Modules</a> 
				<strong>({{ user.authored_capabilities.all|length }})</strong>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block app_content %}
	{% if user.authored_jetpacks.all %}
		<h2 id="your-jetpacks" class="UI_Heading">Your Jetpacks</h2>
		<ul class="UI_Browser">
			{% for jet in user.authored_jetpacks.all %}
				<li class="UI_Item">{{ jet|render_base_link }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if user.authored_capabilities.all %}
		<h2 id="your-modules" class="UI_Heading">Your Modules</h2>
		<ul class="UI_Browser">
			{% for cap in user.authored_capabilities.all %}
				<li class="UI_Item">{{ cap|render_base_link }}</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
