{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
{% endblock %}

{% block app_sidebar %}
	<h2 class="UI_Heading">{{ person }}</h2>
	
	<div class="UI_ProfileInfo">
		<ul class="piWrapper">
			<li class="name"><span></span> {{ person }}</li>
			<li class="mail"><span></span> <a title="" href="mailto:">lorem</a></li>
			<li class="url"><span></span> <a title="" href="#">http://nouincolor.com/</a></li>
			<li class="amo"><span></span> <a class="window" title="AMO profile" href="https://addons.mozilla.org/en-US/firefox/user/960262">AMO profile</a></li>
		</ul>
	</div>

	<ul class="UI_Action_List">
		{% if person.authored_jetpacks.all %}
			<li>
				<a title="Extensions" href="/user/{{ person }}/extensions">Extensions</a> 
				<strong>({{ person.authored_jetpacks.all|length }})</strong>
			</li>
		{% endif %}
		{% if person.authored_capabilities.all %}
			<li>
				<a title="Modules" href="/user/{{ person }}/modules">Modules</a> 
				<strong>({{ person.authored_capabilities.all|length }})</strong>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block app_content %}
	{% if person.authored_jetpacks.all %}
		<h2 class="UI_Heading">Extensions</h2>
		<ul class="UI_Browser">
			{% for jet in person.authored_jetpacks.all %}
				<li class="UI_Item">{{ jet|render_base_link }}</li>
			{% endfor %}
		</ul>
		
		<ul class="UI_Pagination">
			<li class="UI_Pagin_Action more"><a title="See more extensions" href="/user/{{ person }}/extensions">See more extensions</a> <span></span></li>
		</ul>
	{% endif %}
	
	{% if person.authored_capabilities.all %}
		<h2 class="UI_Heading">Modules</h2>
		<ul class="UI_Browser">
			{% for cap in person.authored_capabilities.all %}
				<li class="UI_Item">{{ cap|render_base_link }}</li>
			{% endfor %}
		</ul>
		
		<ul class="UI_Pagination">
			<li class="UI_Pagin_Action more"><a title="See more modules" href="/user/{{ person }}/modules">See more modules</a> <span></span></li>
		</ul>
	{% endif %}
{% endblock %}