{% extends "base.html" %}
{# default django template for login page #}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Login.css" type="text/css" media="screen" />
{% endblock %}

{% block app_content %}
	{% if form.errors %}
		<p class="fd_error" title="Login error">
			Your email and addons.mozilla.org password didn't match. 
			Please try again.
		</p>
	{% endif %}

	<div class="UI_Login">
		
	
		<form class="UI_Forms" id="login_form" method="post" action="{% url django.contrib.auth.views.login %}" accept-charset="utf-8">
			{# csrf_token #}
			<fieldset>
				<legend>Login</legend>
				{% if settings.AMO_LIMITED_ACCESS %}
					<p>
						FlightDeck is currently limiting its userbase. <br/>
						<strong>You will not be able to login if you're not on the list</strong>.
					</p>
				{% endif %}
				<p>Please provide your login credentials from
					<a href='https://addons.mozilla.org'>addons.mozilla.org</a></p>

				<p class="UI_Field">
					<label for="id_username">Email</label>
					{{ form.username }}
				</p> <!-- /UI_Field -->

				<p class="UI_Field">
					{{ form.password.label_tag }}
					{{ form.password }}
				</p> <!-- /UI_Field -->
			</fieldset>

			<div class="UI_Form_Actions">
				<input type="hidden" name="next" value="{{ next }}" />
			
				<ul>
					<li><input type="submit" name="save" value="Login" /></li>
				</ul>
			</div> <!-- /UI_Form_Actions -->
		</form> <!-- /UI_Forms -->
	
	</div> <!-- /UI_Login -->
{% endblock %}
