{% extends "base.html" %}
{# default django template for login page #}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Login.css" type="text/css" media="screen" />
{% endblock %}

{% block app_content %}

	<div class="UI_Login">
		
		{% if form.errors %}
			<p>Your email and addons.mozilla.org password didn't match. Please try again.</p>
		{% endif %}
	
		<form class="UI_Forms" id="login_form" method="post" action="{% url django.contrib.auth.views.login %}" accept-charset="utf-8">
			<fieldset>
				<legend>Login</legend>

				<p class="UI_Field">
					{{ form.username.label_tag }}
					{{ form.username }}
				</p> <!-- /UI_Field -->

				<p class="UI_Field">
					{{ form.password.label_tag }}
					{{ form.password }}
				</p> <!-- /UI_Field -->
			</fieldset>

			<div class="UI_Form_Actions">
				<input type="hidden" name="next" value="{{ next }}" />
			
				<ul>
					<li><input type="submit" name="save" value="Login" /></li>
				</ul>
			</div> <!-- /UI_Form_Actions -->
		</form> <!-- /UI_Forms -->
	
	</div> <!-- /UI_Login -->
{% endblock %}
