Django>=1.1.1
PIL
South
docutils
wsgiref
yolk
simplejson
django-extensions
django-debug-toolbar
mechanize
BeautifulSoup
ElementTree
Markdown

-e git+git://github.com/toastdriven/django-haystack#egg=django_haystack
