<form class="UI_Forms" id="create_form" method="post" accept-charset="utf-8">
	<fieldset>
		<legend>Create new Jetpack/Capability</legend>

		<ul class="UI_Choice">
			<li>
				<input id="create-jetpack" type="radio" name="choice" value="jetpack" checked="checked" />
				<label for="create-jetpack">Jetpack</label>
			</li>
			<li>
				<input id="create-capability" type="radio" name="choice" value="capability" />
				<label for="create-capability">Capability</label>
			</li>
		</ul> <!-- /UI_Choice -->

		<p class="UI_Field">
			<label for="create-name">Name</label>
			<input id="create-name" type="text" name="name" value="" />
		</p> <!-- /UI_Field -->

		<p class="UI_Field">
			<label for="create-description">Description</label>
			<textarea id="create-description" name="description" rows="8" cols="40"></textarea>
		</p> <!-- /UI_Field -->
	</fieldset>

	<div class="UI_Modal_Actions">
		<ul>
			<li><input type="submit" name="save" value="Create" /></li>
			<li><input type="reset" name="cancel" value="Cancel" id="create_form_cancel" /></li>
		</ul>
	</div> <!-- /UI_Modal_Actions -->
</form> <!-- /UI_Forms -->

