
{% with version.capabilities.all as capabilities %}
	<ul class="UI_File_Listing" id='dependency_list_container'>
		{% if capabilities %}
			{% for capversion in capabilities %}
				{% if capversion %}{% with capversion.capability as cap %}
					{% include "_dependency_list_item.html" %}
					<script type="text/javascript">
						window.addEvent('domready', function() {
							var dep = new CapDependency({
								slug: '{{ cap.slug }}',
								name: '{{ cap.name }}',
								creator: '{{ cap.creator }}',
								version_create_url: '{{ cap.get_version_create_url }}',
								version: {
									slug: '{{ cap.slug }}',
									xxx: 'xxx',
									{% ifequal type "jetpack" %}
										remove_url: '{% url jp_jetpack_remove_dependency item.slug version.name version.counter cap.slug capversion.name capversion.counter %}',
									{% else %}
										remove_url: '{% url jp_capability_remove_dependency item.slug version.name version.counter cap.slug capversion.name capversion.counter %}',
									{% endifequal %}
									author: '{{ capversion.author }}',
									name: '{{ capversion.name }}',
									counter: {{ capversion.counter }},
									description: '{{ capversion.description|escapejs }}',
									content: '{{ capversion.content|escapejs }}',
									is_base: {{ capversion.is_base|yesno:"true,false" }},
									edit_url: '{{ capversion.get_absolute_url }}',
									update_url: '{{ capversion.get_update_url }}',
									switch_content_id: 'dependency_{{ cap.slug }}',
									content_el: {element: 'dependency_content_{{ cap.slug }}'},
								}
							});
							fd.getItem().version.registerDependency(dep);
						});
					</script>
				{% endwith %}{% endif %}
			{% endfor %}
		{% endif %}
	</ul>
{% endwith %}
