<div id="editor-menu-wrapper">
	<ul class="UI_Editor_Menu">
		<li class="UI_Editor_Menu_Button Icon_new">
			<a id="create" title="" href="#">New <span class="UI_Editor_Icon"></span></a>
		</li>
		<li class="UI_Editor_Menu_Button Icon_saveNewVersion disabled">
			<a id="version_create" title="" href="#">Save new version 
				<span class="UI_Editor_Icon"></span>
			</a>
		</li>
		<li class="UI_Editor_Menu_Button Icon_update disabled">
			<a id="update" title="" href="#">Update <span class="UI_Editor_Icon"></span></a>
		</li>
		{% if version.is_base %}
			<li class="UI_Editor_Menu_Button Icon_setAsBase disabled">
				<a id="set_as_base" title="" href="#">Base version
					<span class="UI_Editor_Icon"></span>
				</a>
			</li>
		{% else %}
			<li class="UI_Editor_Menu_Button Icon_setAsBase{% if not version %} disabled{% endif %}">
				<a id="set_as_base" title="" href="#">Set as base 
					<span class="UI_Editor_Icon"></span>
				</a>
			</li>
		{% endif %}
		{% ifequal type "jetpack" %}
			<li class="UI_Editor_Menu_Button Icon_try_in_browser{% if not version %} disabled{% endif %}">
				<a id="try_in_browser" title="" href="#">Try in browser 
					<span class="UI_Editor_Icon"></span>
				</a>
			</li>
			<li class="UI_Editor_Menu_Button Icon_download{% if not version %} disabled{% endif %}">
				<a id="download" title="" href="#">Download 
					<span class="UI_Editor_Icon"></span>
				</a>
			</li>
		{% endifequal %}
		{% comment %}
		<li class="UI_Editor_Menu_Button Icon_lock">
			<a title="" href="#">Lock <span class="UI_Editor_Icon"></span></a>
		</li>
		<li class="UI_Editor_Menu_Button Icon_delete">
			<a title="" href="#">Delete <span class="UI_Editor_Icon"></span></a>
		</li>
		{% endcomment %}
	</ul>
</div> <!-- /editor-menu-wrapper -->
