{% load jetpack_extras %}
<h3 class="UI_Sidebar_Toggler info opened"><a title="Info" href="#">
	Info 
	<span class="UI_OC"></span>
	<span class="UI_Sidebar_Toggler_Icon"></span>
</a></h3>

<div class="UI_Sidebar_ItemCont">
	<div class="UI_Field_Cont">
		<label for="version_name">Version Name</label>
		<input type="text" id="version_name" name="version_name" value="{{ version.name|default:"0.0" }}" /> {% if version %}.{{ version.counter }}{% endif %}

		{% if version %}
			<p class="UI_Sidebar_SwitchTo">
				Switch to 
				<select id='switch_to_version'>
					{% for v in other_versions %}
						<option value='{{ v.fullname }}'{% ifequal version.id v.id %} selected{% endifequal %}>{{ v.fullname }}{% if v.is_base %} *{% endif %}</option>
					{% endfor %}
				</select>
			</p>
		{% endif %}

		<p class="UI_Sidebar_Creator">Authored by <a title="{{ item.creator }}" href="{% url person_public_profile item.creator.username %}">{{ item.creator }}</a></p>

		{% if version %}{% ifequal item.creator.username version.author.username %}
		{% else %}
				<p class="UI_Sidebar_Author">{{ version.fullname }} by: 
					<a title="{{ version.author }}" href="{% url person_public_profile version.author.username %}">{{ version.author }}</a>
				</p>
		{% endifequal %}{% endif %}
	</div>
</div>
