<h3>{{ item.full_name }} <span>by <a title="" href="{% url person_public_profile item.author.username %}">{{ item.creator.get_profile }}</a></span></h3>
{% comment %}
{% if item.base_version %}<h4>{{ item.base_version.fullname|default:"new" }}</h4>
{% else %}<h4>new</h4>{% endif %}

<p>{{ item.description }}</p>

<ul class="UI_Actions">
	<li class="UI_Try_in_Browser">
		<a title="Try in browser" href="{{ item.base_version.get_create_xpi_url }}">
			Try in browser
		</a>
	</li>
	<li class="UI_Edit_Version">
		<a title="Edit {{ item.name }}" href="{{ item.get_absolute_url }}">Edit</a>
	</li>
	
	{% if item.base_version %}
		<li class="UI_Pick_Version">
			<a title="Select version" href="{{ item.get_versions_url }}">
				<strong>{{ item.base_version.fullname }}</strong>
				<span></span>
			</a>
			<ul class="UI_Versions loading"></ul>
		</li>
	{% endif %}
</ul>
{% endcomment %}
<div class="UI_Icon {{ item.type }}">
	<!-- <ul class="UI_Ratings_Display">
		<li><a title="" href="#"></a></li>
	</ul> -->
</div>
