{% extends "view.html" %}

{% block modules_sidebar %}
	{% with revision.modules.all as modules %}
		<h3 class="UI_Sidebar_Toggler modules opened"><a title="Modules" href="#">
			Modules{% if modules %} <strong id="modules-counter">({{ modules|length }})</strong>{% endif %} 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		<div class="UI_Sidebar_ItemCont UI_File_Listing">
			<ul id="Modules_list" class="UI_File_Listing">
			{% with "Module_file_readonly" as readonly %}
				{% with revision.get_main_module as module %}
					{% include "_sidebar_revision_module.html" %}
				{% endwith %}
				{% for module in modules %}{% if revision.module_main != module.filename %}
					{% include "_sidebar_revision_module.html" %}
				{% endif %}{% endfor %}
			{% endwith %}
			</ul>
		</div>
	{% endwith %}
{% endblock %}

{% block core_library %}
	{% include "_core_library_item.html" %}
{% endblock %}

{% block app_content_menu_items %}
	<li class="UI_Editor_Menu_Button Icon_try XPI_test">
		<a id="try_in_browser" title="" href="{{ revision.get_test_xpi_url }}" rel="{{ revision.package.jid }}">
			Test 
			<span class="UI_Editor_Icon"></span>
		</a>
	</li>
	<li class="UI_Editor_Menu_Button Icon_download">
		<a id="download" target="_new" title="" href="{{ revision.get_download_xpi_url }}">
			Download 
			<span class="UI_Editor_Icon"></span>
		</a>
	</li>
	<li class="UI_Editor_Menu_Separator"></li>	
{% endblock %}

{% block editor_wrapper %}
	{% with revision.get_main_module as module %}
		{% include "_module_code_textarea.html" %}
	{% endwith %}
	{% for module in revision.modules.all %}{% if module.filename != revision.module_main %}
		{% include "_module_code_textarea.html" %}
	{% endif %}{% endfor %}
{% endblock %}
