{% extends "editor.html" %}
{% load jetpack_extras %}

{% block app_head %}
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
{% endblock %}

{# everything which is outside of the block will not be used #}
{# <script></script> is there for syntax highlighting #}
<script>{% block app_domready %}
	item = new Capability({
		slug: '{{ capability.slug }}',
		name: '{{ capability.name }}',
		description: '{{ capability.description }}',
		creator: '{{ capability.creator }}',
		edit_url: '{{ capability.get_absolute_url }}',
		update_url: '{{ capability.get_update_url }}',
		version_create_url: '{{ capability.get_version_create_url }}',
		switch_description_id: '{{ capability|tab_link_id:"description" }}',
		version: {
			author: '{{ version.author }}',
			name: '{{ version.name }}',
			description: '{{ version.description }}',
			content: '{{ version.content }}',
			is_base: {{ version.is_base|yesno:"true,false" }},
			edit_url: '{{ version.get_absolute_url }}',
			update_url: '{{ version.get_update_url }}',
			set_as_base_url: '{{ version.get_set_as_base_url }}',
			switch_description_id: '{{ version|tab_link_id:"version_description" }}',
			switch_content_id: '{{ version|tab_link_id:"content" }}'
		}
	});
{% endblock %}</script>


{% block app_sidebar %}
	{% if not version %}
		<p class="fd_message">Please update or create a new Version after adding some content</p>
	{% endif %}
	
	<section id="jetpack-info" class="UI_Sidebar_Item">
		<h3 id="ji-toggler">
			<a title="{{ capability.name }}" href="#">{{ capability.name }} <span></span></a>
		</h3>
		<ul class="UI_File_Listing">
			<li class="UI_File_Selected">
				<a title="Content" href="#" id="{{ version|tab_link_id:"content" }}">Content <span></span></a>
			</li>
			<li class="UI_File_Normal">
				<a title="Description" href="#" id="{{ capability|tab_link_id:"description" }}">Description <span></span></a>
			</li>
			<li class="UI_File_Normal">
				<a title="Version description" href="#" id="{{ version|tab_link_id:"version_description" }}">Version description <span></span></a>
			</li>
		</ul>
	</section>

	<section id="capabilities" class="UI_Side_Item">
		<h3 class="UI_Sidebar_Toggler capabilities opened"><a title="Capabilities" href="#">
			Capabilities
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		
		<div class="UI_Sidebar_ItemCont">
			<ul class="UI_File_Listing">
				{% for cap in version.capabilities.all %}
					<li class="UI_File_Normal" id="{{ cap|dependency_link_id }}">
						<a title="{{ cap.name }}" href="#">{{ cap.name }} <span></span></a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>

	<section id="info" class="UI_Side_Item">
		<h3 class="UI_Sidebar_Toggler info opened closed"><a title="Info" href="#">
			Info 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		
		<div class="UI_Sidebar_ItemCont">
			<div class="UI_Field_Cont">
				<label for="version_name">Version Name</label>
				<input type="text" id="version_name" name="version_name" value="{{ version.name|default:"0.0" }}" /> {% if version %}.{{ version.counter }}{% endif %}
			</div>
			
			{% if version %}
				<p class="UI_Sidebar_SwitchTo">
					Switch to: 
					{% if capability_page %}<a title="Version {{ version.fullname }}" href="{{ version.get_absolute_url }}">Version {{ version.fullname }}</a>
					{% else %}<a title="Capability base" href="{{ capability.get_absolute_url }}">Capability base</a>
					{% endif %}
				</p>
			{% endif %}

			<p class="UI_Sidebar_Creator">Origin by: <a title="{{ capability.creator }}" href="{% url person_public_profile capability.creator.username %}">{{ capability.creator }}</a></p>

			{% ifequal capability.creator.username version.author.username %}
			{% else %}
				{% if version %}
					<p class="UI_Sidebar_Author">{{ version.fullname }} by: 
						<a title="{{ version.author }}" href="{% url person_public_profile version.author.username %}">{{ version.author }}</a>
					</p>
				{% endif %}
			{% endifequal %}
		</div>
	</section>
	
	<section id="recently-modified" class="UI_Side_Item">
		<h3 class="UI_Sidebar_Toggler recentlyModified opened closed"><a title="Recently modified" href="#">
			Recently modified 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		
		<div class="UI_Sidebar_ItemCont">
			<ul class="UI_File_Listing UI_Recent_Files">
				{% for file in recently_modified %}
					<li class="UI_File_Normal" id="{{ file|recently_modified_link_id }}">
						<a title="{{ file|render_fullname }}" href="#">{{ file|render_fullname }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
{% endblock %}

{% block app_content %}
	{% include "_editor_menu.html" %}
	<div id="editor-wrapper">
		<textarea id="capability_description" name="capability_description" class="UI_Editor_Area bespin">{{ capability.description }}</textarea>
		<textarea id="version_content" name="version_content" class="UI_Editor_Area bespin" data-bespinoptions='{"stealFocus":true}'>{{ version.content }}</textarea>
		<textarea id="version_description" name="version_description" class="UI_Editor_Area bespin">{{ version.description }}</textarea>
	</div>
{% endblock %}
