{% extends "editor.html" %}
{% block editor_head %}
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
	<script type='text/javascript'>
		var settings = {
			user: "{{ request.user }}",
			jp_capability_create_url: "{{ capability_create_url }}"
		};
		window.addEvent('load', function() {
			var capability = new Capability({
				slug: "{{ capability.slug }}",
				name: "{{ capability.name }}",
				description: "{{ capability.description }}",
				creator: "{{ capability.creator }}",
				edit_url: "{{ capability.get_absolute_url }}",
				update_url: "{{ capability.get_update_url }}",
				version_create_url: "{{ capability.get_version_create_url }}",
				version: {
					author: "{{ version.author }}",
					name: "{{ version.name }}",
					description: "{{ version.description }}",
					content: "{{ version.content }}",
					is_base: {{ version.is_base|yesno:"true,false" }},
					edit_url: "{{ version.get_absolute_url }}",
					update_url: "{{ version.get_update_url }}",
					set_as_base_url: "{{ version.get_set_as_base_url }}"
				}
			});
		});
	</script>
{% endblock %}
{% block editor_content %}
	{# some menus default for editing #}
	<h1>{% if capability_page %}{{ capability }}{% else %}{{ version }}{% endif %} 
		by <a href="{% url person_public_profile capability.creator.username %}">{{ capability.creator.username }}</a>
	</h1>
	<p>
		Version by: <a href="{% url person_public_profile version.author.username %}">{{ version.author.username }}</a>, 
		{% if capability_page %}switch to: <a href="{{ version.get_absolute_url }}">version {{ version.fullname }}</a>
		{% else %}switch to: <a href="{{ capability.get_absolute_url }}">capability base</a>
		{% endif %}
	</p>
	<label for='capability_description'>capability Description</label>
	<textarea id='capability_description' name='capability_description'>{{ capability.description }}</textarea>
	<label for='version_name'>Version</label>
	<input type='text' id='version_name' name='version_name' value="{{ version.name }}"/>.{{ version.counter }}<br/>
	<label for='version_description'>version Description</label>
	<textarea id='version_description' name='version_description'>{{ version.description }}</textarea>
	<label for='version_content'>Content</label>
	<textarea id='version_content' name='version_content'>{{ version.content }}</textarea>
	<ul>
		<li><a href='#' id='try_in_browser'>Try in a browser</a></li>
		<li><a href='#' id='update'>Update</a></li>
		<li><a href='#' id='version_create'>Save as new Version</a></li>
	</ul>
{% endblock %}
