{% extends "editor.html" %}
{% load jetpack_extras %}

{% block app_head %}
	{% include "_edit_page_title.html" %}
{% endblock %}

{% block app_domready %}{% include "js/_edit_item_initiate.js" %}{% endblock %}


{% block app_sidebar %}
	<section id="jetpack-info" class="UI_Sidebar_Item">
		{% include "_edit_item_parts.html" %}
	</section>

	{% if version %}
		<section id="dependencies" class="UI_Side_Item">
			<h3 class="UI_Sidebar_Toggler dependencies opened"><a title="Dependencies" href="#">
				Dependencies{% if version.capabilities.all %} <strong id="dependency-counter">({{ version.capabilities.all|length }})</strong>{% endif %} 
				<span class="UI_OC"></span>
				<span class="UI_Sidebar_Toggler_Icon"></span>
			</a></h3>
			<div class="UI_Sidebar_ItemCont">
				{% include "_dependency_list.html" %}
			</div>
		</section>
	{% endif %}

	<section id="info" class="UI_Side_Item">
		{% include "_edit_item_info.html" %}
	</section>
	{% comment %}
	<section id="recently-modified" class="UI_Side_Item">
		<h3 class="UI_Sidebar_Toggler recentlyModified opened closed"><a title="Recently modified" href="#">
			Recently modified 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		
		<div class="UI_Sidebar_ItemCont">
			<ul class="UI_File_Listing UI_Recent_Files">
				{% for file in recently_modified %}
					<li class="UI_File_Normal" id="{{ file|recently_modified_link_id }}">
						<a title="{{ file|render_fullname }}" href="#">{{ file|render_fullname }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	{% endcomment %}
{% endblock %}

{% block app_content %}
	{% include "_editor_menu.html" %}
	<div id="editor-wrapper">
		<textarea id="capability_description" name="capability_description" class="UI_Editor_Area bespin">{{ item.description }}</textarea>
		<textarea id="version_content" name="version_content" class="UI_Editor_Area bespin">{{ version.content }}</textarea>
		<textarea id="version_description" name="version_description" class="UI_Editor_Area bespin">{{ version.description }}</textarea>
		{% for cap_version in version.capabilities.all %}
			<textarea id="dependency_content_{{ cap_version.slug }}" class="UI_Editor_Area" name="dependency_content_{{ cap_version.slug }}">{{ cap_version.content }}</textarea>
		{% endfor %}
	</div>
{% endblock %}
