{% extends "editor.html" %}
{% block app_head %}
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
	<script type='text/javascript'>
		var settings = {
			user: "{{ request.user }}",
			jp_capability_create_url: "{{ capability_create_url }}",
			jp_jetpack_create_url: "{{ jetpack_create_url }}"
		};
		var create_choice = function(e) {
			var prefix = $$('input[name=choice]:checked')[0].get('value');
			var data = {}
			data[prefix+'_name'] = $('name').get('value');
			data[prefix+'_description'] = $('description').get('value');
			new Request.JSON({
				url: settings['jp_' + prefix + '_create_url'],
				data: data,
				method: 'post',
				onSuccess: function(response) {
					window.location.href=response.absolute_url
				}
			}).send();
		};
		window.addEvent('domready', function() {
			$('create').addEvent('click', create_choice);
		});
	</script>
{% endblock %}

{% block app_content %}
	<h1>Create</h1>
	<ul>
		<li><input type='radio' value='jetpack' id='jetpack' name='choice'/>
			<label for='jetpack'>jetpack</label></li>
		<li><input type="radio" value="capability" id="capability" name="choice"/>
			<label for="capability">capability</label</li>
	</ul>
	<p>
		<label for='name'>Name</label>
		<input type='text' name='name' id='name'/>
	</p>
	<p>
		<label for='description'>Description</label>
		<textarea name='description' id='description'></textarea>
	</p>
	<a id='create' href='#'>Create</a>
{% endblock %} 

