{% extends "base.html" %}
{% load base_helpers %}

{% block head %}
	<title>Edit {{ revision }} - {{ settings.SITE_TITLE }}</title>
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/jetpack/css/FlightDeck.Autocomplete.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/bespin/BespinEmbedded.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Editor.js"></script>
	<script src="/media/jetpack/js/Editor.js"></script>
	<script src="/media/bespin/BespinEmbedded.js"></script>
	<script src="/media/jetpack/js/Bespin.js"></script>
	<script src="/media/js/lib/Meio.Autocomplete.js"></script>
	<script src="/media/js/FlightDeck.Autocomplete.js"></script>
	<script src="/media/jetpack/js/FlightDeck.Bespin.js"></script>
	<script src="/media/jetpack/js/Package.js"></script>
{% endblock %}

{# switch off default menu bar #}
{% block app_menu %}{% endblock %}

{# initialize package view #}
{% block app_domready %}{% include "js/_edit_package_initiate.js" %}{% endblock %}

{# get package_info_form_template #}
{% block app_settings %}
	edit_package_info_template: '{% escape_template "_edit_package_info.html" %}',
	library_autocomplete_url: '{% url jp_library_autocomplete %}',
	{#revisions_list_html_url: '{% url jp_revisions_list_html revision.package.id %}',#}
{% endblock %}

{# switch off the footer #}
{% block footer %}{% endblock %}

{% block app_sidebar %}
	<section id="package-info" class="UI_Sidebar_Item">
		<h3 id="ji-toggler">
			<a title="{{ revision.package.full_name }}" href="#">{{ revision.package.full_name }}
				<span></span>
			</a>
		</h3>
		{#<a id='revisions_list' href='#'>get revisions list</a>#}
	</section>

	<section id="modules">
		{# modules are different for addons and libraries #}
		{% block modules_sidebar %}{% endblock %}
	</section>
	<section id="libraries">
		{% with revision.dependencies.all as libraries %}
			<h3 class="UI_Sidebar_Toggler libraries opened">
				<a title="Libraries" href="#">
					Libraries <strong id="libraries-counter">({{ libraries|length }})</strong> 
					<span class="UI_OC"></span>
					<span class="UI_Sidebar_Toggler_Icon"></span>
				</a>
			</h3>
			<div class="UI_Sidebar_ItemCont">
				<ul class="UI_File_Listing">
					{% if libraries %}
						{% include "_sidebar_revision_libraries_list.html" %}
					{% endif %}
				</ul>
				<div class="UI_Field_Cont UI_New_Dependency" id="assign_library_div">
					<label for="assign_library">Select existing library</label>
					<input type="hidden" id="library_id_number" name="library_id_number" value="" />
					<input type="text" id="assign_library" name="assign_library" value="" />
					<button title="Add existing library" id="assign_library_action">Add</button>
				</div>
			</div>
		{% endwith %}
	</section>
{% endblock %}
