<!DOCTYPE html>
<html>
<head>
	{# load some css and javascript here #}
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
</head>
<body>
	{# some menus default for editing #}
	<h1>{{ jetpack }} by <a href="{% url person_public_profile jetpack.author.username %}">{{ jetpack.author.username }}</a></h1>
	<p>
		Version commited by: <a href="{% url person_public_profile version.commited_by.username %}">{{ version.commited_by.username }}</a>, 
		{% if jetpack_page %}switch to: <a href="{{ version.get_absolute_url }}">version {{ version.name }}</a>
		{% else %}switch to: <a href="{{ jetpack.get_absolute_url }}">jetpack base</a>
		{% endif %}
	</p>
	<pre>{{ version.code }}</pre>
	{# footer? #}
</body>
