<!DOCTYPE html>
<html>
<head>
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
	{% include "_edit_head.html" %}
	<script type='text/javascript'>
		var user = "{{ request.user }}";
		window.addEvent('load', function() {
			var jetpack = new Jetpack({
				slug: "{{ jetpack.slug }}",
				name: "{{ jetpack.name }}",
				description: "{{ jetpack.description }}",
				author: "{{ jetpack.author }}",
				version: {
					commited_by: "{{ version.commited_by }}",
					name: "{{ version.name }}",
					description: "{{ version.description }}",
					code: "{{ version.code }}",
					is_base: {{ version.is_base|yesno:"true,false" }}
				}
			});
		});
	</script>
</head>
<body>
	{# some menus default for editing #}
	<h1>{{ jetpack }} by <a href="{% url person_public_profile jetpack.author.username %}">{{ jetpack.author.username }}</a></h1>
	<p>
		Version commited by: <a href="{% url person_public_profile version.commited_by.username %}">{{ version.commited_by.username }}</a>, 
		{% if jetpack_page %}switch to: <a href="{{ version.get_absolute_url }}">version {{ version.name }}</a>
		{% else %}switch to: <a href="{{ jetpack.get_absolute_url }}">jetpack base</a>
		{% endif %}
	</p>
	<textarea id='version_code'>{{ version.code }}</textarea>
	<ul>
		<li><a href='#' id='try'>Try in a browser</a></li>
		<li><a href='#' id='save'>Save</a></li>
		<li><a href='#' id='newversion'>Save as new version</a></li>
	</ul>
	{# footer? #}
</body>
</html>
