{% extends "base.html" %}
{% load jetpack_extras %}
{% load base_helpers %}

{% block create_init %}create.init('create','jetpack','app-body');{% endblock %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen">
	<script src="/media/jetpack/js/FlightDeck.Editor.js"></script>
	<script src="/media/jetpack/js/Editor.js"></script>
	<script src="/media/jetpack/js/Capability.js"></script>
	<script src="/media/jetpack/js/CapDependency.js"></script>
	{% comment %}
	<link rel="stylesheet" href="/media/bespin/BespinEmbedded.css" type="text/css" media="screen" />
	<script src="/media/bespin/BespinEmbedded.js"></script>
	<script src="/media/jetpack/js/Bespin.js"></script>
	{% endcomment %}
	<script src="/media/codemirror/js/codemirror.js"></script>
	<script src="/media/codemirror/js/mirrorframe.js"></script>
	<script src="/media/jetpack/js/CodeMirror.js"></script>
	<link rel="stylesheet" href="/media/jetpack/css/FlightDeck.CodeMirror.css" type="text/css" media="screen" />
	{# % endcomment % #}
	{% block app_head %}{% endblock %}
{% endblock %}

{% block page_settings %}
	cap_autocomplete_url: '{{ autocomplete_url|safe|replace:"*,{"|replace:"$,}"|safe }}',
{% endblock %}
