{% extends "base.html" %}
{% block head %}
	<title>Create new Jetpack - {{ settings.SITE_TITLE }}</title>
	{% include "_edit_head.html" %}
	<script type='text/javascript'>
		var user = "{{ request.user }}";
		window.addEvent('load', function() {
			var jetpack = new Jetpack({});
		});
	</script>
{% endblock %}
{% block content %}
	{# some menus default for editing #}
	<h1>Create New Jetpack</h1>
	<p><label for='jetpack_name'>Name</label><input type='text' id='jetpack_name' name='jetpack_name'/></p>
	<p><label for='version_name'>Version</label><input type='text' id='version_name' name='version_name' value='0.0.1'/></p>
	<textarea id='version_code'>{{ version.code }}</textarea>
	<ul>
		<li><a href='#' id='try'>Try in a browser</a></li>
		<li><a href='#' id='save'>Save</a></li>
		<li><a href='#' id='newversion'>Save as new version</a></li>
	</ul>
{% endblock %}
