{% extends "editor.html" %}
{% load jetpack_extras %}
{% block app_head %}
	{% include "_edit_page_title.html" %}
	{% ifequal type "jetpack" %}
		<script src="/media/jetpack/js/Jetpack.js"></script>
	{% endifequal %}
{% endblock %}

{% block app_domready %}{% include "js/_edit_item_initiate.js" %}{% endblock %}


{% block app_sidebar %}
	<section id="jetpack-info" class="UI_Sidebar_Item">
		{% include "_edit_item_parts.html" %}
	</section>

	{% if version %}
		<section id="dependencies" class="UI_Side_Item">
			<h3 class="UI_Sidebar_Toggler dependencies opened closed"><a title="Libraries" href="#">
				Libraries{% if version.capabilities.all %} <strong id="dependency-counter">({{ version.capabilities.all|length }})</strong>{% endif %} 
				<span class="UI_OC"></span>
				<span class="UI_Sidebar_Toggler_Icon"></span>
			</a></h3>
			<div class="UI_Sidebar_ItemCont">
				{% include "_dependency_add.html" %}
				{% include "_dependency_list.html" %}
			</div>
		</section>
	{% endif %}

	<section id="info" class="UI_Side_Item">
		{% include "_edit_item_info.html" %}
	</section>

	{% comment %}
		<section id="recently-modified" class="UI_Side_Item">
			{% include "_edit_recently_modified.html" %}
		</section>
	{% endcomment %}
{% endblock %}

{% block app_content %}
	{% include "_editor_menu.html" %}
	<div id="editor-wrapper">
		{% include "_edit_editors.html" %}
	</div>
{% endblock %}
