{% extends "base.html" %}
{% load jetpack_extras %}

{% block head %}
	<link rel="stylesheet" href="/media/jetpack/css/UI.Browser.css" type="text/css" media="screen" />
{% endblock %}

{% block app_body %}
	<aside id="app-sidebar" class="UI_Sidebar">
		<h2 class="UI_Heading">Categories</h2>
		
		<ul class="UI_Action_List">
			<li><a title="" href="#">Notifiers</a> <strong>(20)</strong></li>
			<li><a title="" href="#">Site alteration</a> <strong>(10)</strong></li>
			<li><a title="" href="#">Development</a> <strong>(20)</strong></li>
			<li><a title="" href="#">Misc</a> <strong>(234)</strong></li>
			<li><a title="" href="#">Utilities</a> <strong>(20)</strong></li>
		</ul>
	</aside> <!-- /app-sidebar -->
	
	<section id="app-content">
		<h2 class="UI_Heading">Recent jetpacks</h2>
		
		<ul class="UI_Browser">
		{% for item in items %}
			<li class="UI_Item">{{ item|render_base_link }}</li>
		{% endfor %}
		</ul>
	</section> <!-- /app-content -->
{% endblock %}
