{% extends "editor.html" %}
{% block editor_head %}
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
	<script src="/media/jetpack/js/Jetpack.js"></script>
	<script type="text/javascript">
		var settings = {
			user: "{{ request.user }}",
			jp_jetpack_update_version_url: "{{ version.get_update_url }}",
			jp_jetpack_save_new_version_url: "{{ jetpack.get_save_url }}",
			jp_jetpack_base_url: "{{ jetpack.get_absolute_url }}",
			jp_jetpack_version_url: "{{ version.get_absolute_url }}",
			jp_jetpack_version_set_as_base: "{{ version.get_set_as_base_url }}"
		};
		
		window.addEvent("load", function() {
			var jetpack = new Jetpack({
				slug: "{{ jetpack.slug }}",
				name: "{{ jetpack.name }}",
				description: "{{ jetpack.description }}",
				creator: "{{ jetpack.creator }}",
				version: {
					author: "{{ version.author }}",
					name: "{{ version.name }}",
					manifest: "{{ version.manifest }}",
					content: "{{ version.content }}",
					description: "{{ version.description }}",
					is_base: {{ version.is_base|yesno:"true,false" }}
				}
			});
		});
	</script>
{% endblock %}
{% block editor_content %}
	{# some menus default for editing #}
	<h1>{% if jetpack_page %}{{ jetpack }}{% else %}{{ version }}{% endif %} 
		by <a href="{% url person_public_profile jetpack.creator.username %}">{{ jetpack.creator.username }}</a>
	</h1>
	<p>
		Version by: <a href="{% url person_public_profile version.author.username %}">{{ version.author.username }}</a>, 
		{% if jetpack_page %}switch to: <a href="{{ version.get_absolute_url }}">version {{ version.fullname }}</a>
		{% else %}switch to: <a href="{{ jetpack.get_absolute_url }}">jetpack base</a>
		{% endif %}
	</p>
	<textarea id='version_content'>{{ version.content }}</textarea>
	<ul>
		<li><a href='#' id='try'>Try in a browser</a></li>
		<li><a href='#' id='save'>Save</a></li>
		<li><a href='#' id='newversion'>Save as new version</a></li>
	</ul>
{% endblock %}
