{% extends "editor.html" %}
{% block editor_head %}
	<title>{{ version }} - {{ settings.SITE_TITLE }}</title>
	<script src="/media/jetpack/js/Jetpack.js"></script>
	<script type="text/javascript">
		var settings = {
			user: "{{ request.user }}",
			jp_jetpack_create_url: "{{ jetpack_create_url }}",
			jp_capability_create_url: "{{ capability_create_url }}"
		};
		var jetpack;
		
	</script>
{% endblock %}

{# everything which is outside of the block will not be used #}
{# <script></script> is there for syntax highlighting #}
<script>{% block domready %}
	jetpack = new Jetpack({
		slug: "{{ jetpack.slug }}",
		name: "{{ jetpack.name }}",
		description: "{{ jetpack.description }}",
		creator: "{{ jetpack.creator }}",
		edit_url: "{{ jetpack.get_absolute_url }}",
		update_url: "{{ jetpack.get_update_url }}",
		version_create_url: "{{ jetpack.get_version_create_url }}",
		version: {
			author: "{{ version.author }}",
			name: "{{ version.name }}",
			manifest: "{{ version.manifest }}",
			content: "{{ version.content }}",
			description: "{{ version.description }}",
			is_base: {{ version.is_base|yesno:"true,false" }},
			edit_url: "{{ version.get_absolute_url }}",
			update_url: "{{ version.get_update_url }}",
			set_as_base_url: "{{ version.get_set_as_base_url }}"
		}
	});
{% endblock %}</script>

{% block editor_content %}
	{# some menus default for editing #}
	<h1>{% if jetpack_page %}{{ jetpack }}{% else %}{{ version }}{% endif %} 
		by <a href="{% url person_public_profile jetpack.creator.username %}">{{ jetpack.creator.username }}</a>
	</h1>
	{% if version %}
	<p>
		Version by: <a href="{% url person_public_profile version.author.username %}">{{ version.author.username }}</a>, 
		{% if jetpack_page %}switch to: <a href="{{ version.get_absolute_url }}">version {{ version.fullname }}</a>
		{% else %}switch to: <a href="{{ jetpack.get_absolute_url }}">jetpack base</a>
		{% endif %}
	</p>
	{% endif %}
	<label for='jetpack_description'>Jetpack Description</label>
	<textarea id='jetpack_description' name='jetpack_description'>{{ jetpack.description }}</textarea>
	<label for='version_name'>Version</label>
	<input type='text' id='version_name' name='version_name' value="{{ version.name|default:"0.0" }}"/>{% if version %}.{{ version.counter }}{% endif %}<br/>
	<label for='version_description'>version Description</label>
	<textarea id='version_description' name='version_description'>{{ version.description }}</textarea>
	<label for='version_content'>Content</label>
	<textarea id='version_content' name='version_content'>{{ version.content }}</textarea>
	<label for='version_manifest'>Manifest</label>
	<textarea id='version_manifest' name='version_manifest'>{{ version.manifest }}</textarea>
	<ul>
		<li><a href='#' id='try_in_browser'>Try in a browser</a></li>
		<li><a href='#' id='update'>Update</a></li>
		<li><a href='#' id='version_create'>Save as new Version</a></li>
	</ul>
{% endblock %}
