{% extends "editor.html" %}
{% load jetpack_extras %}
{% block app_head %}
	{% include "_edit_page_title.html" %}
	<script src="/media/jetpack/js/Jetpack.js"></script>
{% endblock %}

{% block app_domready %}{% include "js/_edit_item_initiate.js" %}{% endblock %}


{% block app_sidebar %}
	{% include "_edit_item_info.html" %}

	{% if version %}
		<section id="dependencies" class="UI_Side_Item">
			<h3 class="UI_Sidebar_Toggler dependencies opened"><a title="Dependencies" href="#">
				Dependencies{% if version.capabilities.all %} <strong id="dependency-counter">({{ version.capabilities.all|length }})</strong>{% endif %} 
				<span class="UI_OC"></span>
				<span class="UI_Sidebar_Toggler_Icon"></span>
			</a></h3>
			<div class="UI_Sidebar_ItemCont">
				{% include "_dependency_list.html" %}
			</div>
		</section>
	{% endif %}

	<section id="info" class="UI_Side_Item">
		<h3 class="UI_Sidebar_Toggler info opened"><a title="Info" href="#">
			Info 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		
		<div class="UI_Sidebar_ItemCont">
			<div class="UI_Field_Cont">
				<label for="version_name">Version Name</label>
				<input type="text" id="version_name" name="version_name" value="{{ version.name|default:"0.0" }}" /> {% if version %}.{{ version.counter }}{% endif %}

				{% if version %}
					<p class="UI_Sidebar_SwitchTo">
						Switch to 
						{% comment %}
						{% if item_page %}<a title="Version {{ version.fullname }}" href="{{ version.get_absolute_url }}">Version {{ version.fullname }}</a>
						{% else %}<a title="Jetpack base" href="{{ item.get_absolute_url }}">Jetpack base</a>
						{% endif %}
					</p>
					<p>
						{% endcomment %}
						<select id='switch_to_version'>
							{% for v in other_versions %}
								<option value='{{ v.fullname }}'{% ifequal version.id v.id %} selected{% endifequal %}>{{ v.fullname }}{% if v.is_base %} *{% endif %}</option>
							{% endfor %}
						</select>
					</p>
				{% endif %}

				<p class="UI_Sidebar_Creator">Origin by <a title="{{ item.creator }}" href="{% url person_public_profile item.creator.username %}">{{ item.creator }}</a></p>

				{% if version %}{% ifequal item.creator.username version.author.username %}
				{% else %}
						<p class="UI_Sidebar_Author">{{ version.fullname }} by: 
							<a title="{{ version.author }}" href="{% url person_public_profile version.author.username %}">{{ version.author }}</a>
						</p>
				{% endifequal %}{% endif %}
			</div>
		</div>
	</section>

	{% comment %}
	<section id="recently-modified" class="UI_Side_Item">
		<h3 class="UI_Sidebar_Toggler recentlyModified opened closed"><a title="Recently modified" href="#">
			Recently modified 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		
		<div class="UI_Sidebar_ItemCont">
			<ul class="UI_File_Listing UI_Recent_Files">
				{% for file in recently_modified %}
					<li class="UI_File_Normal" id="{{ file|recently_modified_link_id }}">
						<a title="{{ file|render_fullname }}" href="#">{{ file|render_fullname }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</section>
	{% endcomment %}
{% endblock %}

{% block app_content %}
	{% include "_editor_menu.html" %}
	<div id="editor-wrapper">
		<textarea id="version_content" class="UI_Editor_Area" name='version_content'>{{ version.content }}</textarea>
		<textarea id='version_manifest' class="UI_Editor_Area" name='version_manifest'>{{ version.manifest }}</textarea>
		<textarea id='jetpack_description' class="UI_Editor_Area" name='jetpack_description'>{{ item.description }}</textarea>
		<textarea id='version_description' class='UI_Editor_Area'>{{ version.description }}</textarea>
		{% for cap_version in version.capabilities.all %}
			{% include "_dependency_content_textarea.html" %}
		{% endfor %}
	</div>
{% endblock %}
