{% extends "view.html" %}

{% block modules_sidebar %}
	{% with revision.modules.all as modules %}
		<h3 class="UI_Sidebar_Toggler modules opened"><a title="Modules" href="#">
			Modules{% if modules %} <strong id="modules-counter">({{ modules|length }})</strong>{% endif %} 
			<span class="UI_OC"></span>
			<span class="UI_Sidebar_Toggler_Icon"></span>
		</a></h3>
		<div class="UI_Sidebar_ItemCont UI_File_Listing">
			<ul li="Modules_list" class="UI_File_Listing">
			{% with "Module_file_readonly" as readonly %}
				{% for module in modules %}
					{% include "_sidebar_revision_module.html" %}
				{% endfor %}
			{% endwith %}
			</ul>
		</div>
	{% endwith %}
{% endblock %}

{% block editor_wrapper %}
	{% for module in revision.modules.all %}
		{% include "_module_code_textarea.html" %}
	{% endfor %}
{% endblock %}
