{% extends "package_browser.html" %}

{% block page_content %}
	<h2 class="UI_Heading">
		Recent Libraries (See <a href="{% url jp_browser_addons %}">Add-ons</a>)
	</h2>

	<ul class="UI_Browser">
		{% include "_package_browser_libraries_list.html" %}
	</ul>

	{% if pager.has_other_pages %}
		<ul class="UI_Pagination">
			{% if pager.has_previous %}
				<li class="UI_Pagin_Action prev">
					<span></span> 
					<a title="" href="{% url jp_browser_libraries_page pager.previous_page_number %}">
						Previous
					</a>
				</li>
			{% endif %}
			<li class='current'>{{ pager.number }}</li>
			{% if pager.has_next %}
				<li class="UI_Pagin_Action next">
					<a title="" href="{% url jp_browser_libraries_page pager.next_page_number %}">Next</a>
					<span></span> 
				</li>
			{% endif %}
		</ul>
	{% endif %}

{% endblock %}
