{% extends "base.html" %}

{% block head %}
	<title>{{ revision }} - {{ settings.SITE_TITLE }}</title>
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/bespin/BespinEmbedded.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Editor.js"></script>
	<script src="/media/jetpack/js/Editor.js"></script>
	<script src="/media/bespin/BespinEmbedded.js"></script>
	<script src="/media/jetpack/js/Bespin.js"></script>
	<script src="/media/jetpack/js/FlightDeck.Bespin.js"></script>
	<script src="/media/jetpack/js/Package.js"></script>
{% endblock %}

{# switch off default menu bar #}
{% block app_menu %}{% endblock %}

{# initialize package view #}
{% block app_domready %}{% include "js/_view_package_initiate.js" %}{% endblock %}
