{% extends "base.html" %}

{% block head %}
	<title>{{ revision }} - {{ settings.SITE_TITLE }}</title>
	<link rel="stylesheet" href="/media/jetpack/css/UI.Editor.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/media/bespin/BespinEmbedded.css" type="text/css" media="screen" />
	<script src="/media/jetpack/js/FlightDeck.Editor.js"></script>
	<script src="/media/jetpack/js/Editor.js"></script>
	<script src="/media/bespin/BespinEmbedded.js"></script>
	<script src="/media/jetpack/js/Bespin.js"></script>
	<script src="/media/jetpack/js/FlightDeck.Bespin.js"></script>
	<script src="/media/jetpack/js/Package.js"></script>
{% endblock %}

{# switch off default menu bar #}
{% block app_menu %}{% endblock %}

{# initialize package view #}
{% block app_domready %}{% include "js/_view_package_initiate.js" %}{% endblock %}

{# switch off the footer #}
{% block footer %}{% endblock %}


{% block app_sidebar %}
	<section id="package-info" class="UI_Sidebar_Item">
		<h3 id="ji-toggler">
			<a title="{{ revision.package.full_name }}" href="#">
				{{ revision.package.full_name }}<span></span>
			</a>
		</h3>
	</section>
	<section id="modules">
		{% block modules_sidebar %}{% endblock %}
	</section>
	<section id="libraries">
		{% with revision.dependencies.all as libraries %}
			{% if libraries %}
				<h3 class="UI_Sidebar_Toggler libraries opened"><a title="Libraries" href="#">
					Libraries <strong id="libraries-counter">({{ libraries|length }})</strong> 
					<span class="UI_OC"></span>
					<span class="UI_Sidebar_Toggler_Icon"></span>
				</a></h3>
				<div class="UI_Sidebar_ItemCont">
					<ul class="UI_File_Listing">
						{% include "_sidebar_revision_libraries_list.html" %}
					</ul>
				</div>
			{% endif %}
		{% endwith %}
	</section>
{% endblock %}
	
